.landing {
    margin: 0 auto;
}


.intro {
    background-color: #073042;
    padding-top: 75px; 
    padding-bottom: 50px;
}

.intro__wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;  
    gap: 190px;
}

.intro__container {
    display:flex;
    flex-direction: column;
    order: 0;

}

.intro__title {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 58px;
  font-size: 50px;
  max-width: 640px;
  width: 100%;
  margin: 0 0 36px;
}

.intro__subtitle {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 16px;
  font-size: 13px;
  max-width: 310px;
  width: 100%;
  opacity: 0.5;
  margin: 0 0 146px;
}

.intro__button { 
  width: 129px;
  height: 36px;
  margin-bottom: 25px;
  background-color: #073042;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #FFFFFF;
  box-sizing: border-box;

}

.into__image {
    order: 3;
    width: 310px;
    height: 304px;
}

@media screen and (max-width: 900px) {
    .intro {
      padding-top: 140px; 
      padding-bottom: 66px;
    }
    .intro__wrapper{
      max-width:calc(100% - 100px);
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }

    .intro__container {
        order: 99;
        align-items: center;
    }

    .intro__title {
        max-width: 680px;
        font-size: 40px;
        text-align: center;  
        margin-bottom: 22px;
    }

    .intro__subtitle {
      text-align: center;  
      margin-bottom: 92px;
    }
    .intro__button {
      margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {  
    .intro {
        padding-top: 70px; 
        padding-bottom: 20px;
      }
    .intro__wrapper {
      max-width:calc(100% - 20px);
    }

    .into__image {
        width: 210px;
        height: 206px;
    }

    .intro__title {
        max-width: 300px;
        font-size: 30px;
        line-height: 38px ;
        letter-spacing: -4%;
        margin-bottom: 24px;
        
    }

    .intro__subtitle {
      text-align: center;  
      margin-bottom: 80px;
    }
}