.landing {
    margin: 0 auto;
    
}


.intro {
    background-color: #073042;
    padding-top: 75px; 
    padding-bottom: 50px;
}

.intro__wrapper {
    max-width: calc(100% - 140px);
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;  
    gap: 190px;
}

.intro__container {
    display:flex;
    flex-direction: column;
    order: 0;

}

.intro__title {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 58px;
  font-size: 50px;
  max-width: 640px;
  width: 100%;
  margin: 0 0 36px;
}

.intro__subtitle {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 16px;
  font-size: 13px;
  max-width: 310px;
  width: 100%;
  opacity: 0.5;
  margin: 0 0 146px;
}

.intro__button { 
  width: 129px;
  height: 36px;
  margin-bottom: 25px;
  background-color: #073042;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #FFFFFF;
  box-sizing: border-box;

}

.into__image {
    order: 3;
    width: 310px;
    height: 304px;
}

@media screen and (max-width: 1050px) {
  .intro__wrapper{
    max-width:calc(100% - 100px);
    gap: 110px;
  }
}


@media screen and (max-width: 900px) {
    .intro {
      padding-top: 140px; 
      padding-bottom: 66px;
    }
    .intro__wrapper{
      
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }

    .intro__container {
        order: 99;
        align-items: center;
    }

    .intro__title {
        max-width: 680px;
        font-size: 40px;
        text-align: center;  
        margin-bottom: 22px;
    }

    .intro__subtitle {
      text-align: center;  
      margin-bottom: 92px;
    }
    .intro__button {
      margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {  
    .intro {
        padding-top: 70px; 
        padding-bottom: 20px;
      }
    .intro__wrapper {
      max-width:100%;
      gap:44px; 
      box-sizing: border-box;
    }

    .into__image {
        width: 210px;
        height: 206px;
    }

    .intro__title {
        max-width: 310px;
        font-size: 30px;
        line-height: 38px ;
        letter-spacing: -8%;
        margin-bottom: 24px;
        
    }

    .intro__subtitle {
      text-align: center;  
      margin-bottom: 80px;
      max-width: 260px;
    }
}
.section {
  max-width: calc(100% - 140px);
  width: 100%;
  margin: 0 auto;
}

.project{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 110px;
  padding-bottom: 110px;
}

.section__dividing-line{
  content: "";
  width: 100%;
  border-bottom: 1px solid 
  #000000;
}

.section__title {
  margin: 0 0 23px;
  font-family: 'Inter' sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -4%;
  color:  #000000;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin:70px auto 110px;
}

.description__column {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.desctiption__title {
  font-family: 'Inter' sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -4%;
  color:  #000000;
  margin: 0;
}

.desctiption__paragraph {
  font-family: 'Inter' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color:  #000000;
  margin: 0;
}

.timeline{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  

}
.timeline__component{
  height: 36px;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: 'Inter' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.timeline__component_backend{
  background-color: #2BE080;
}
.timeline__component_frontend{
  background-color: 
  #F2F2F2;
}

.timeline__subtitle{
  margin: 14px auto 0;
  color: #A0A0A0;
  font-family: 'Inter' sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}


@media screen and (max-width: 900px) {
 .section {
  max-width: calc(100% - 100px);
 }

  .project {
    
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .description {
    margin-bottom: 93px;
    gap: 30px;
  }

  .description__column {
    gap: 22;
    max-width: 319px;
  }
  
  .desctiption__paragraph {
    font-size: 12px;

  } 
}

@media screen and (max-width: 767px) { 
  .section{
    max-width: calc(100% - 36px);
  }
  .project {
   
    padding-top: 70px;
    padding-bottom: 69px;
  }

  .description {
    flex-direction: column;
    gap: 56px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .description__column{
    gap: 16px;
    max-width: 284px;
  }


  .desctiption__title {
    font-size: 18px;

  }

  .desctiption__subtitle  {
    font-size: 11px;
  }

  .timeline{
    grid-template-columns: 100px auto;
  }

  
  .timeline__component {
    font-size: 11px;
  }

  .timeline__subtitle {
    font-size: 11px;
    margin-top: 10px;
  }
 }

 .technologies {
  background-color: #F5F5F5 ;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
 }

 .technologies__title {
  font-family: 'Inter' sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -4%;
  margin: 90px auto 26px;
  text-align: center;
 }

 .technologies__subtitle {
  font-family: 'Inter' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -4%;
  margin:0 auto 100px;
  text-align: center;
  max-width: 460px;
 }

 .list {
  list-style: none;
  
 }

 .technologies__list {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  gap:10px;
  padding: 0;
  justify-content: center;
  margin: 0;

 }

 .technologies__item{
  height: 60px;
  width: 90px;
  background-color:#E8E8E8 ;
  display: flex;
  align-items: center; 
  justify-content: center;
  font-family: 'Inter' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -4%;
  border-radius: 10px;
 }


 @media screen and (max-width: 900px) {
  .technologies {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .technologies__title {
    margin: 80px auto 22px;
  }
  .technologies__subtitle {
    margin-bottom: 83px;
  }
  .technologies__list {
    grid-template-columns: repeat(7, 84px);
  }
  .technologies__item {
    width:84px;
    height: 57px;
  }
 }

@media screen and (max-width: 767px) {
  .technologies {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .technologies__list {
    grid-template-columns: repeat(2, 84px);
  }
  .technologies__title {
    margin: 60px auto 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .technologies__subtitle {
    font-size: 11px;
    line-height: 16px;
  }
  .technologies__subtitle {
    margin-bottom: 50px;
  }
 }

 .portfolio {
  padding-top: 110px;
  padding-bottom: 125px;
  box-sizing: border-box;
}

.about {
  display: flex;
  flex-direction: row;
  margin-top: 66px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.about__name {
  font-family: 'Inter' sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -4%;
  margin: 0;

}
.about__occupation {
  font-family: 'Inter' sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  max-width: 600px;
  margin: 18px 0 0;
}

.about__background {
  font-family: 'Inter' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  max-width: 600px;
  max-width: 600px;
  margin: 26px 0 0;
}

.about__github {
  margin: 99px 0 0;
  color: black;
  font-family: 'Inter' sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.about__picture {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  border: none;

}

.about__wrapper {
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  color: #A0A0A0;
  font-family: 'Inter' sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;

}

.portfolio__list{
  padding: 0;
  margin-top:50px;
  margin-bottom: 0;

}

.portfolio__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.portfolio__line {
  content: '';
  border-bottom: #E8E8E8 1px solid;
  width: 100%;
  margin-top: 19px;
  margin-bottom: 20px;
}

.portfolio__link {
  color: #000000;
  font-family: 'Inter' sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  
}

@media screen and (max-width: 900px) {
  .portfolio {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .about{
    margin-bottom: 91px ;
  }

  .about__name{
    font-size: 40px;
  }

  .about__occupation {
    margin-top: 18px;
    font-size: 12px;
  }
  .about__background {
    margin-top: 20px;
    font-size: 12px;
    max-width: 364px;
  }
  .about__github {
    margin-top: 87px;
  }
  .about__picture{
    width: 255px;
    min-height: 307;
  }
  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding-top: 70px;
    padding-bottom: 70px;
    
    
  }
  .about {
    flex-direction: column;
  }
  .about__wrapper{
    order: 99;

  }
  .about__picture{
    width: 292px;
    min-height: 354px;
    box-sizing: border-box;
  }
  .about__background {
    
    max-width: 292px;
  }
}