.login {
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 396px;
    margin:  70px auto  auto;
    height: 100%;
    box-sizing: border-box;

}

.loggin__error{
  margin-top: 176px;
  margin-bottom:10px;
  height: 17px;
  color:#ff0000;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;

}

.login__button {
    margin-top: 0;
    height: 45px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color:  rgba(52, 86, 243, 1);;
    border-radius: 3px;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .login__button_disabled{
    background-color:#F8F8F8;
    color: #C2C2C2
  }

  @media screen and (max-width: 900px) {
    .login{
      margin-top: 232px; 
      
      
    }
  }

  @media screen and (max-width: 750px) {
    .login {
      margin-top: 56px; 
      width: 260px;
    }
    .loggin__error {
        margin-top: 264px;
    }
    
  }