.login {
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 396px;
    margin:  70px auto  auto;
    height: 100%;

}

.login__button {
    margin-top: 200px;
    height: 45px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color:  rgba(52, 86, 243, 1);;
    border-radius: 3px;
    border: 0;
    padding: 0;
    cursor: pointer;
  }